<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>poppins_black_italic</string>
		<string>poppins_black</string>
		<string>poppins_bold_italic</string>
		<string>poppins_bold</string>
		<string>poppins_extra_bold_italic</string>
		<string>poppins_extra_bold</string>
		<string>poppins_extra_light_italic</string>
		<string>poppins_extra_light</string>
		<string>poppins_italic</string>
		<string>poppins_light_italic</string>
		<string>poppins_light</string>
		<string>poppins_medium_italic</string>
		<string>poppins_medium</string>
		<string>poppins_regular</string>
		<string>poppins_semi_bold_italic</string>
		<string>poppins_semi_bold</string>
		<string>poppins_thin_italic</string>
		<string>poppins_thin</string>
		<string>rubik_black_italic</string>
		<string>rubik_black</string>
		<string>rubik_bold_italic</string>
		<string>rubik_bold</string>
		<string>rubik_italic</string>
		<string>rubik_light_italic</string>
		<string>rubik_light</string>
		<string>rubik_medium_italic</string>
		<string>rubik_medium</string>
		<string>rubik_regular</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>MainNav</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
